@import "./element";
@import "./variables";
@import "./mixins";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap');
//font-family: 'Roboto', sans-serif;  font-family   Default
//font-family: 'Noto Sans JP', sans-serif;

$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";


* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

@import "./custom-element";